#!/bin/bash


# ----- Editor related aliases ----- #
alias vi="vim"
alias vim='/usr/local/bin/nvim'


# ----- Git related aliases ----- #
alias g="git"
# rest have been moved to .gitconfig


# ----- Compiler related aliases ----- #
# Alias gcc to gcc instead of clang on Mac
alias gcc="gcc-9"


# ----- Shortcuts ----- #
alias play="cd $PATH_TO_PLAYGROUND"
alias proj="cd $PATH_TO_PROJECTS"
