#!/bin/bash


export EDITOR=nvim
export PATH_TO_PLAYGROUND=$HOME/Playground
export PATH_TO_PROJECTS=$HOME/Projects

# ---- Language Stuff ---- #
# add cabal binary path - this is to install haskell-language-server
export PATH='~/.cabal/bin:'$PATH
export PATH='/Users/ashvin/.ghcup/bin':$PATH

# Some settings for Node Version Manager
export NVM_DIR="$HOME/.nvm"

# ----- Local Exports ----- #
# Keep this as the last line in the file
[ -f ".exports.local" ] && source ".exports.local"
