[alias]
        s = status
        c = commit -m
        p = push
        a = add

        pom = push origin master
        pomn = push origin main

[user]
        name = Ashvin Arsakularatne
        email = aa9220@ic.ac.uk
[core]
        editor = nvim

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
