[alias]
        s = status
        c = commit -m
        p = push

        pom = push origin master
        pomn = push origin main

[user]
        name = Ashvin Arsakularatne
        email = ashvin.arsakularatne@gmail.com
[core]
        editor = nvim

# Includes .gitconfig-uni for working on uni projects
[includeIf "gitdir:~/OneDrive \- \Imperial College London/"]
        path = .gitconfig.uni

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
